:root {
  --color0: #021119;
  --color1: #1E656D;
  --color2: #2E8A7A;
  --color3: #44927C;
  --color4: #347884;
  --color5: #2D9F8A;
  --color6: #36BA98;
  --color7: #C3C0B8;
  --color8: #666666;
  --color9: #1E656D;
  --color10: #2E8A7A;
  --color11: #44927C;
  --color12: #347884;
  --color13: #2D9F8A;
  --color14: #36BA98;
  --color15: #C3C0B8;
}
